body {
    display: flex;
    justify-content: center;
}

.outer-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
}

.inner-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-bottom: 100px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    background-color: lightblue;
}

.inner-container .card:first-of-type {
    background-color: tomato;
}